body {
    background-image: url('/img/water.jpg');
    background-size: cover;
    box-sizing: border-box;
    z-index: -1;
}

/*------------------------------------------------*/
/*-------------------HEADER-----------------------*/
/*------------------------------------------------*/
.header {
    position: fixed;
    right: 50px;
    top: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}

a:link {
    color: rgb(255, 136, 0);
    text-decoration: none;
}

a:hover {
    border-bottom: solid 3px rgb(255, 136, 0);
}

a:visited {
    color: rgb(255, 136, 0);
}

/*------------------------------------------------*/
/*-----------------CONTENT HOME-------------------*/
/*------------------------------------------------*/
.buyBtn {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(60, 152, 60);
    position: fixed;
    top: 290px;
    left: 40vw;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px;
    color: rgb(255, 136, 0);
    width: 300px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buyBtn:hover {
    background-color: rgb(57, 134, 57);
}

.token {
    position: fixed;
    left: 120px;
    top: 50px;
    width: 350px;
}

.textBuy {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 136, 0);
    font-size: 1.2rem;
    position: fixed;
    top: 360px;
    left: 37vw;
}

/*------------------------------------------------*/
/*-----------------CONTENT TEAM-------------------*/
/*------------------------------------------------*/
.team {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(70, 172, 70);
    position: fixed;
    left: 200px;
    top: 70px;
    font-size: 2rem;
}

.Dev1pic,
.Dev2pic,
.Dev3pic,
.Dev4pic {
    border-radius: 100px;
    width: 100px;
    position: fixed;
    outline: solid 5px rgb(70, 172, 70);
    top: 200px;
}

.Dev1pic {
    left: 22.5vw;
}

.Dev2pic {
    left: 38.5vw;
}

.Dev3pic {
    left: 54.5vw;
}

.Dev4pic {
    left: 70.5vw;
}

.textDev1,
.textDev2,
.textDev3,
.textDev4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 136, 0);
    font-size: 1.1rem;
    font-weight: bold;
    position: fixed;
    top: 300px;
}

.textDev1 {
    left: 24vw;
}

.textDev2 {
    left: 40vw;
}

.textDev3 {
    left: 56vw;
}

.textDev4 {
    left: 72vw;
}

.textDev1a,
.textDev2a,
.textDev3a,
.textDev4a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 136, 0);
    font-size: 1rem;
    position: fixed;
    top: 330px;
}

.textDev1a {
    left: 23vw;
}

.textDev2a {
    left: 39vw;
}

.textDev3a {
    left: 55vw;
}

.textDev4a {
    left: 71vw;
}

.textDev1b,
.textDev2b,
.textDev3b,
.textDev4b {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 136, 0);
    font-size: 1.2rem;
    position: fixed;
    top: 380px;
}

.textDev1b {
    left: 24vw;
}

.textDev2b {
    left: 40vw;
}

.textDev3b {
    left: 56vw;
}

.textDev4b {
    left: 72vw;
}

/*------------------------------------------------*/
/*-----------------CONTENT ROADMAP----------------*/
/*------------------------------------------------*/
.Roadmap {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(70, 172, 70);
    position: fixed;
    left: 200px;
    top: 70px;
    font-size: 2rem;
}

.Text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 136, 0);
    font-size: 1rem;
    position: fixed;
    top: 330px;
    left: 33vw;
}

.Text2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 136, 0);
    font-size: 1rem;
    position: fixed;
    top: 330px;
    left: 53vw;
}

/*------------------------------------------------*/
/*---------------------CONTENT NFT----------------*/
/*------------------------------------------------*/

.nftPage {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nftDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    height: 50vh;
    width: 80vw;
    // background-color: black;
    margin-left: auto;
    margin-right: auto;
    // overflow-y: scroll;
}

.Nft {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(70, 172, 70);
    position: fixed;
    left: 200px;
    top: 70px;
    font-size: 2rem;
}

.Coming1 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: orange;
    // position: fixed;
    // left: 500px;
    // top: 200px;
    font-size: 2.6rem;
    transform: rotate(-20deg);
    animation: glow;
    text-shadow: 0 0 1px #fff, 0 0 2px orange;
}

.nft {
    background-color: green;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    //justify-content: center;

    h1 {
        margin-left: auto;
        margin-right: auto;
    }

    p {
        padding-left: 16px;
        padding-right: 16px;
        // margin-left: auto;
        // margin-right: auto;
        color: white;
    }

    img {

        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        border: 5px solid black;
    }

    &:hover {
        box-shadow: 5px 5px black;
    }

}

/*------------------------------------------------*/
/*-----------------CONTENT MERCH------------------*/
/*------------------------------------------------*/
.Merch {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: rgb(70, 172, 70);
    position: fixed;
    left: 200px;
    top: 70px;
    font-size: 2rem;
}

.Coming2 {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: orange;
    position: fixed;
    left: 35vw;
    top: 150px;
    font-size: 2.6rem;
    transform: rotate(-20deg);
    animation: glow;
    text-shadow: 0 0 1px #fff, 0 0 2px orange;
    z-index: 2;
}

.MerchPic {
    position: fixed;
    left: 35vw;
    top: 160px;
    width: 450px;
    z-index: 1;
}

/*------------------------------------------------*/
/*---------------------NAVBAR---------------------*/
/*------------------------------------------------*/
.Navbar {
    height: 70px;
    margin: 10px;
    position: fixed;
    bottom: 15px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    outline: solid 3px rgb(255, 136, 0);
    border-radius: 10px;
}

.homeBtn,
.teamBtn,
.roadMapBtn,
.nftBtn,
.merchBtn {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.4rem;
    font-weight: 700;
    padding: 10px;
    color: rgb(70, 172, 70);
    width: 190px;
    border: none;
    z-index: 2;
}

.homeBtn:hover {
    border-bottom: solid 5px rgb(70, 172, 70);
}

.teamBtn:hover {
    border-bottom: solid 5px rgb(70, 172, 70);
}

.roadMapBtn:hover {
    border-bottom: solid 5px rgb(70, 172, 70);
}

.nftBtn:hover {
    border-bottom: solid 5px rgb(70, 172, 70);
}

.merchBtn:hover {
    border-bottom: solid 5px rgb(70, 172, 70);
}

.NavbarBackground {
    height: 70px;
    margin: 10px;
    position: fixed;
    bottom: 15px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
}

.backgroundColorHomeBtn, .backgroundColorTeamBtn, 
.backgroundColorRoadmapBtn, .backgroundColorNftBtn, 
.backgroundColorMerchBtn {
    width: 190px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
/*------------------------------------------------*/
/*----------------MOBILE--------------------------*/
/*------------------------------------------------*/
@media screen and (max-width: 500px) { 

    body {
        background-image: url('/img/water_mob.jpg');
        background-size: cover;
        box-sizing: border-box;
    } 
    /*-------------------HEADER-------------------*/
    .header {
        right: 25px;
    }
    a:link {
        font-size: 0.7rem;
        font-weight: 400;
    }
    /*-------------------CONTENT HOME---------------*/
    .token {
        left: 28px;
        top: 30px;
        max-width: 160px;
    }
    .buyBtn {
        top: 222px;
        left: 24%;
        padding: 10px;
        font-weight: bold;
        font-size: 0.9rem;
        width: 190px;
    }
    .textBuy {
        font-size: 0.6rem;
        top: 270px;
        left: 20%;
    }
    /*-----------------CONTENT TEAM-------------------*/
    .team {
        left: 40px;
        top: 60px;
        font-size: 1.2rem;
    }
    .Dev1pic, .Dev2pic, .Dev3pic, .Dev4pic {
        width: 45px;
        top: 155px;
        outline: solid 2px rgb(70, 172, 70);
    }
    .Dev1pic {
        left: 18%;
    }
    .Dev2pic {
        left: 34.5%;
    }
    .Dev3pic {
        left: 51.5%;
    }
    .Dev4pic {
        left: 68%;
    }
    .textDev1, .textDev2, .textDev3, .textDev4  {
        top: 205px;
        font-size: 0.6rem;
        font-weight: bold;
    }
    .textDev1 {
        left: 20.5%;
    }
    .textDev2 {
        left: 37%;
    }
    .textDev3 {
        left: 54%;
    }
    .textDev4 {
        left: 70.5%;
    }
    .textDev1a, .textDev2a, .textDev3a, .textDev4a {
        font-size: 0.6rem;
        top: 220px;
    }
    .textDev1a {
        left: 17%;
    }
    .textDev2a {
        left: 33.5%;
    }
    .textDev3a {
        left: 50.5%;
    }
    .textDev4a {
        left: 67%;
    }
    .textDev1b, .textDev2b, .textDev3b, .textDev4b {
        font-size: 0.6rem;
        top: 250px;
    }
    .textDev1b {
        left: 21%;
    }
    .textDev2b {
        left: 37.5%;
    }
    .textDev3b {
        left: 54.5%;
    }
    .textDev4b {
        left: 71%;
    }
    /*-----------------CONTENT ROADMAP----------------*/
    .Roadmap {
        left: 40px;
        top: 60px;
        font-size: 1.2rem;
    }
    /* .Roadmap2 {     BILDEN ska den med eller ej?
        left: 23vw;
        top: 120px;
        width: 240px;
    } */
    .Text {
        font-size: 0.6rem;
        top: 190px;
        left: 23vw;
    }
    .Text2 {
        font-size: 0.6rem;
        top: 190px;
        left: 53vw;
    }
    /*---------------------CONTENT NFT----------------*/
    .Nft {
        left: 40px;
        top: 60px;
        font-size: 1.2rem;
    }
    .Coming1 {
        left: 30%;
        top: 175px;
        font-size: 1.4rem;
    }
    /*-----------------CONTENT MERCH------------------*/
    .Merch {
        left: 40px;
        top: 60px;
        font-size: 1.2rem;
    }
    .Coming2 {
        left: 26%;
        top: 157px;
        font-size: 1.4rem;
    }
    .MerchPic {
        left: 16;
        top: 165px;
        z-index: -1;
        width: 250px;
    }
    /*---------------------FOOTER---------------------*/
    .Navbar {
        height: 60px;
        margin: 10px;
        bottom: 5px;
        left: 5px;
        right: 5px;
    }
    .homeBtn, .teamBtn, .roadMapBtn, .nftBtn, .merchBtn {
        font-size: 0.7rem;
        font-weight: 700;
    }
    .NavbarBackground {
        height: 60px;
        margin: 10px;
        bottom: 5px;
        left: 5px;
        right: 5px;
    }
}
